<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidsx.microrss"
    android:versionName="0.1" android:versionCode="1">

    <uses-sdk android:minSdkVersion="7" />
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.wimm.permission.NETWORK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- This is useful to be commented in order to test on the mobile phone
        <uses-library android:name="com.wimm.framework" android:required="true"></uses-library>
    -->

    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:description="@string/app_descrip" android:debuggable="true">

        <!-- Content provider for the data in the DB -->
        <provider android:name="com.androidsx.microrss.db.MicroRssContentProvider" android:authorities="com.androidsx.microrss" />
        
        <!-- Service for the periodic synchronization of the data with the internet sources -->
        <service android:name="com.androidsx.microrss.UpdateService" />

        <!-- Activity that sets up the application and dispatches to the view activities -->
        <activity android:name=".view.InitActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:noHistory="true"> 
            <meta-data android:name="com.wimm.app.peekview" android:resource="@layout/peekview" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Activity that shows the basic information of a feed -->
	    <activity android:name=".view.FeedActivity" android:theme="@style/Theme.MicroRss" android:noHistory="false"
         android:launchMode="singleTask" >
            <meta-data android:name="com.wimm.app.peekview" android:resource="@layout/peekview" />
        </activity>
	    
	    <!-- Activity that shows the basic information of a story -->
       	<activity android:name=".view.StoryActivity" android:theme="@style/Theme.MicroRss" android:noHistory="true"/>
       	
		<!-- @Deprecated: activity for settings -->
        <activity
            android:name="com.androidsx.microrss.configure.SettingsActivity"
            android:label="@string/settings_title">
        </activity>
        
        <activity
        	android:name="com.androidsx.microrss.configure.Preferences"
        	android:label="@string/settings_title" android:theme="@style/Theme.MicroRss.Light"
            android:noHistory="true">
		</activity>
        <activity
            android:name="com.androidsx.microrss.configure.GReaderPreferences"
            android:label="@string/settings_title" android:theme="@style/Theme.MicroRss.Light"
            android:noHistory="true">
        </activity>
		<activity
        	android:name="com.androidsx.microrss.configure.ChooseSampleFeedsActivity"
        	android:label="@string/settings_title" android:theme="@style/Theme.MicroRss.Light"
            android:noHistory="true">
		</activity>
		<activity
        	android:name="com.androidsx.microrss.configure.ChooseGoogleReaderFeedsActivity"
        	android:label="@string/settings_title" android:theme="@style/Theme.MicroRss.Light"
            android:noHistory="true">
		</activity>
        
         <receiver android:name="com.androidsx.microrss.sync.NetworkAvailableReceiver">
            <intent-filter>
                <action android:name="com.wimm.action.NETWORK_AVAILABLE"></action>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
